* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: auto;
    box-sizing: border-box;
}



.container {
    width: 100%;
    display: flex;
    /* margin: auto; */
    flex-direction: row;
    z-index: 1;
    position: relative;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #E64848;
    /* background-color: #fff; */
    padding: 13px 0;
    /* position: static; */
    border-bottom: 2px solid #fff;
}

#js,
#ns {
    position: relative;
    /* z-index: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    width: 70vw;
    background-color: #E64848;
    color: #fff;
    max-width: 300px;
}




.close {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.close span {
    display: block;
    width: 15px;
    height: 2.3px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    /* border: 2.3px solid #fff; */
    border-radius: 6px;
    z-index: 2;
    transform-origin: 0 0;
}


.close span:nth-child(1) {
    transform: translate(4px, 0px) rotate(45deg);
    /* transform: rotate(45deg); */
}




.close span:nth-child(2) {
    /* transform: rotate(-45deg); */
    transform: translate(2px, 3px) rotate(-45deg);

}


#js {
    display: none;
}



@media(max-width:350px) {

    #js,
    #ns {
        width: 85vw;

    }
}

@media(max-width:300px) {

    #js,
    #ns {
        width: 95vw;

    }
}



.container h1 {
    color: #fff;
    font-size: 18px;
    margin-left: 3vw
}

.lr {
    position: relative;
    transition: 0.4s;
}



.register {
    color: #fff;
    position: relative;

    font-size: 18px;
    margin-right: 2vw
}

.bg {
    /* background-color: #e07a5b; */
    width: 100%;
    /* min-height: 100vh; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media(min-width:500px) {
	background-color: #e07a5b;

} */

.form-box {
    width: 100%;
    padding-top: 10px;

    /* margin: auto; */
    /* min-height: 100vh; */
    position: relative;
    background-color: #fff;
    /* border-radius: 10px; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media(min-width:500px) {
    .container {
        position: fixed;

    }

    .form-box {
        width: 65%;
        /* margin: auto; */
        height: 100vh;

        /* background-color: rgb(237, 230, 230); */

        /* margin-top: 25px; */
        /* border-radius: 4px; */
    }

    .flash {
        margin-bottom: 25px;
        margin-top: 25px;

    }

    .bg {
        background-color: #e07a5b;
        height: 100vh;

    }
}

@media(min-width:700px) {
    .form-box {
        width: 50%;
    }

    .flash {
        margin-top: 15px;
        margin-bottom: 17px;

    }
}

@media(min-width:1000px) {
    .form-box {
        width: 36%;
    }

    .flash {
        margin-top: 0px;
        margin-bottom: 20px;

    }
}





span {
    color: rgb(72, 72, 72);
    margin-left: 6px;
}

span p {
    color: red;
    padding-bottom: 2px;
    display: none;
}

.email {
    display: flex;
    /* width: 75vw; */
    flex-direction: column;
    margin-bottom: 3px;
}

.email input {
    padding: 7px;
    width: 70vw;

    max-width: 300px;
    margin: 3px;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 9px;
}



.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    /* width: 75vw; */


}

.password input {
    padding: 7px;

    width: 70vw;

    max-width: 300px;
    margin: 3px;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 9px;
}

.forgetPassword {
    padding: 10px 0 0 0;
    width: 70vw;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.forgetPassword a {
    /* text-decoration: none; */
    color: rgb(72, 72, 72);


}

.register-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 13px 0;
    /* width: 75vw; */

}




.register-cancel a {
    text-decoration: none;
    /* color: #777; */
    color: rgb(72, 72, 72);
    border: 1px solid rgb(196, 190, 190);
    border-radius: 5px;
    width: 30vw;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    padding: 8px 0;
    /* transition: 0.2s; */
    /* margin-right: px; */
}

.register-cancel a:hover,
.register-cancel a:active {
    border: 1px solid #000000;

}

.register-cancel .button {
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 2px; */
    /* transition: 0.4s; */
    font-size: 15px;
    /* padding: 8px 14px; */
    background-color: #E64848;
    border: 1.8px solid #fff;
    color: #fff;

    /* border: 1px solid #000000; */
    border-radius: 5px;
    /* font-weight: 540; */
    width: 30vw;
    max-width: 100px;

    padding: 8px 0;


}

.register-cancel .button:hover,
.register-cancel .button:active {
    border: 1.8px solid #000000;

}

.border {
    margin-top: 15px;
    width: 65%;
    border-bottom: 2px solid rgb(196, 190, 190);

}

.google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;

}

.google p {

    color: rgb(72, 72, 72);
    font-size: 0.9rem;

}

.google a {
    margin-top: 0.8rem;
    padding: 7px;
    text-align: center;
    width: 55vw;
    text-decoration: none;
    max-width: 150px;
    background-color: #E64848;
    color: #fff;
    /* margin: 3px; */
    border: 1.8px solid #fff;
    border-radius: 9px;
}


.google a:hover,
.google a:active {
    border: 1.8px solid #000000;

}

.log {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 10px;
}

.log p {
    color: rgb(72, 72, 72);
    font-size: 0.9rem;
}

.log a {
    color: #E64848;
}