<!DOCTYPE html>
<html>

<head>
    <title>Register Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/userstyle/login.css">
</head>

<body>

    <div class="container">
        <h1> Get Meat</h1>
        <div class="lr">
            <!-- <h2 class="login">Log In</h2> -->
            <h2 class="register">Log In</h2>
        </div>

    </div>

    <div class="bg">


        <!-- <button class="btn">click me</button> -->
        <div class="form-box">
            <div id="js">
                <p id="jspara">Fill the required fields

                </p> <button onclick="closejavas();" class="close"><span></span><span></span></button>

            </div>
            <% if(success && success.length) {%>
                <div id="ns">
                    <p>
                        <%= success %>
                    </p> <button onclick="closebtn();" class="close"><span></span><span></span></button>

                </div>
                <% } %>
                    <% if(error && error.length) {%>
                        <div id="ns">
                            <p>
                                <%= error %>
                            </p> <button onclick="closebtn();" class="close"><span></span><span></span></button>

                        </div>
                        <% } %>
                            <form action="/login" method="POST" id="myformlogin">
                                <div class="email">
                                    <span>Email<p id="star1">*</p></span>
                                    <input type="email" name="username" required id="username">
                                </div>


                                <div class="password">
                                    <span>Password<p id="star3">*</p></span>
                                    <input type="password" id="password" required title="Password Must be 6 or greater"
                                        name="password">
                                </div>
                                <div class="forgetPassword">
                                    <a href="/changePassword"> Forget Password?</a>
                                </div>
                                <div class="register-cancel">
                                    <a href="<%= redirectUrl %> ">Cancel</a>
                                    <!-- <button>Register</button> -->
                                    <a class="button" onclick="login_form()">Login</a>
                                </div>
                            </form>
                            <div class="border"></div>
                            <div class="google">
                                <p>Or Login With</p>
                                <a href="/auth/google">Google</a>
                            </div>
                            <div class="log">
                                <p>Not having an account ? </p>
                                <a href="/signUp">Register</a>

                            </div>
        </div>

    </div>





    <script src=" javascripts/login.js"></script>

</body>

</html>